h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: italic;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: oblique;
}

h4{
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: line-through;
}

p{
    text-indent: 58px;
    text-align: center;
    font-variant: small-caps;
}

/* comentario css*/

