body{
    font-family: Arial, 
    sans-serif;
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    text-align: center;
    background-color: cadetblue;
    padding: 5px;
    margin-bottom: 0px;
    
}

h2{
    background-color: lightgray;
    font-size: 18px;
    padding: 5px;
    padding: 10px;
    border-bottom: 2px solid;
    margin-top: 48px;
    margin-bottom: 12px;
}

h3{
    font-size: 16px;
    padding: 10px;
    border-bottom: 2px ;
    margin-top: 12px;
    margin-bottom: 2px;
}

.subtitulo{
    background-color: darkcyan;
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
}

.sub{
    font-size: 13px;
}

p{
    font-size: 15px;
    margin-top: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    width: 100%;
    justify-content: flex-end;
}

/* .menu p {
    /* background-color: grey; */
    /* padding: 10px; */
    /* border: 1px solid; */
 


.topico::before {
  content: "";         /* Necessário para o elemento aparecer */
  width: 6px;          /* Largura do ponto */
  height: 6px;         /* Altura do ponto */
  background-color: black; 
  border-radius: 50%;  /* Deixa o quadrado redondo */
  display: inline-block;
  margin-right: 15px;  /* Espaço entre o ponto e o texto */
  margin-left: 10px;
}

.menu a{
    display: inline-block;
    padding: 10px;
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 0px;
}

.menu a:hover{
    text-decoration: underline;
    padding: 10px;
    background-color: honeydew;
}

.menu a:link{
    color: black;
}

.menu a:visited{
    color: #35313100;
}

.primeira{
    margin-top: 6px;
}