body{
    font-family: Arial, 
    sans-serif;
    font-size: 20px;
}

h1{
    text-align: center;
    background-color: darkturquoise;
}

h2{
    background-color: aqua;
    font-size: 18px;
}

h3{
    background-color: lightgray;
    font-size: 16px;
}

.subtitulo{
    text-align: center;
    font-size: 13px;
}

.sub{
    font-size: 13px;
}

p{
    font-size: 15px;
}
